2024: Week 6 - Staff Income Tax
February 07, 2024
Created by: Carl Allchin
https://preppindata.blogspot.com/2024/02/2024-week-6-staff-income-tax.html

Requirements
- Input the csv file
- Add a row number to the data set
- Find the latest row (largest row number) to capture the individuals correct salary information
- Find each team member's annual salary
- Find each team member's maximum tax band based on their annual salary
  - 20% rate
  - 40% rate
  - 45% rate 
- Work out how much tax an individual paid for each of the % bands. Call these fields:
  - 20% tax rate paid
  - 40% tax rate paid
  - 45% tax rate paid
- Total the tax paid across all three % bands. Call this field 'Total Tax Paid' 
